
<div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div>Site<span>Random</span></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="body">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  

  <% if devise_mapping.rememberable? %>
    <div class="login">
      <%= f.check_box :remember_me %> 
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="login">
    <%= f.submit "Log in" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>



